.react-datepicker-wrapper {
  display: flex;
  width: 100%;
}

.react-datepicker {
  border: 0;
  box-shadow: rgb(0 0 0 / 19%) 0 4px 8px 0;
  display: flex;
}

.react-datepicker-popper {
  z-index: 20;
}

.react-datepicker.time {
  flex-direction: column;
}

.react-datepicker__day-names {
  font-weight: 600;
}

.react-datepicker__input-time-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  margin: 0;
  font-weight: bold;
}

.react-datepicker__input-time-container input {
  border: 0;
}

.react-datepicker__header {
  background-color: #fff;
  border: 0;
  padding: 14px 0 8px 0;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
  background-color: #4169E1FF;
}

.react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover, .react-datepicker__month-text--selected:hover, .react-datepicker__month-text--in-selecting-range:hover, .react-datepicker__month-text--in-range:hover, .react-datepicker__quarter-text--selected:hover, .react-datepicker__quarter-text--in-selecting-range:hover, .react-datepicker__quarter-text--in-range:hover, .react-datepicker__year-text--selected:hover, .react-datepicker__year-text--in-selecting-range:hover, .react-datepicker__year-text--in-range:hover {
  background-color: #4169E1FF;
}

.react-datepicker__day--keyboard-selected:hover, .react-datepicker__month-text--keyboard-selected:hover, .react-datepicker__quarter-text--keyboard-selected:hover, .react-datepicker__year-text--keyboard-selected:hover {
  background-color: #4169E1FF;
}

.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected {
  background-color: #4169E1FF;
  color: #fff;
}

.react-datepicker__time-container {
  border-left: 0;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected:hover {
  background-color: #4169E1FF;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
  background-color: #4169E1FF;
  border-radius: 6px;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  margin: 0.266rem;
}
