@import "tailwindcss";

@theme {
  --spacing: 1px;

  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --height-2xs: 25px;
  --height-xs: 30px;
  --height-sm: 35px;
  --height-base: 40px;
  --height-md: 45px;
  --height-lg: 50px;
  --height-xl: 55px;
  --height-2xl: 60px;

  --text-3xs: 6px;
  --text-2xs: 8px;
  --text-xs: 10px;
  --text-sm: 12px;
  --text-base: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 28px;
  --text-4xl: 32px;

  --shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-focus: 0 0 0 3px rgba(5, 145, 255, 0.1);

  --radius: 6px;

  --color-primary: #FEBD33;

  --animate-fadeIn: fadeIn 0.4s;
  --animate-slideYMargin: slideYMargin linear 0.2s;
  --animate-slideX: 0.4s slideX ease-in-out 0.4s;
  --animate-slideY: 0.4s slideY ease-in-out 0.4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideYMargin {
  from {
    margin: 5vh auto auto auto;
  }
  to {
    margin: 10vh auto auto auto;
  }
}

@keyframes slideX {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideY {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
